header{
display: flex;
justify-content: center;
background-color: #0a5c0a;
width: 100%;
height: 200px;
align-items: center;

}

.title{
    color: white;
    padding: 10px;
    font-size: 50px;
}
.img{
    padding-top: 50px;
}

.headIndent{
    text-indent: 55%;
    display: block;
    font-family: "Comic Sans MS";

}


.card.has.text.centered{
    justify-content: center;
    align-items: center;
    
}

#textGenerate {
    font-size: 35px;
}

.column{
    text-align: center;
}

footer{
    background-image: url('../bd-footer-background.png');
    color: white;
    height: 200px;
    font-size: x-large;
    position: fixed;
    bottom: 0;
    width: 100%
}

.bbColumn{
    background-color: rgba(35, 24, 24, 0.574);
}




